<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Contacts</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>
                Name
            </th>
            <th>
                Date of Birth
            </th>
        </tr>
        
        <tr data-th-each="contact : ${contacts}" data-th-object="${contact}">
            <td>
                <span data-th-text="*{name}"></span>
            </td>
            <td>
                <span data-th-text="*{dateOfBirth}"></span>
            </td>
        </tr>
    </table>

    <a href="/">Go back home</a>
</body>
</html>